@{
    ViewData["Title"] = "Requisição Concluída";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>

<div class="confirmation-container text-center">
    <h2>A sua requisição foi enviada!</h2>
    <p></p>

    <div class="mt-4">
        <a href="/Home" class="btn btn-primary">Ir para a Página Inicial</a>
    </div>
</div>
<footer>
    <div class="grid footer">
        <div class="card_logo">
            <img src="/imagens/logo200.png" alt="logo UniLib">
        </div>
        <div class="grid sb">
            <h3>Sobre nós</h3>
            <p></p>
            <a href="@Url.Action("Privacy", "Home")">Política de Privacidade</a>
            <p></p>
            <a href="@Url.Action("Termos", "Home")">Termos de Serviço</a>
            <p></p>
        </div>
        <div class="grid ajuda">
            <h3>Ajuda</h3>
            <p></p>
            <a href="@Url.Action("Ajuda", "Home")">Caixa de Mensagens</a>
        </div>
    </div>
</footer>

<style>
    .confirmation-container {
        background-color: #f7f9fc;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 50px auto;
        font-family: 'Arial', sans-serif;
    }

        .confirmation-container h2 {
            color: #5e0606;
            font-size: 28px;
            margin-bottom: 20px;
        }

        .confirmation-container p {
            font-size: 18px;
            color: black;
            margin-bottom: 30px;
        }

    .btn-primary {
        background-color: #5e0606;
        color: white;
        border: none;
        padding: 12px 30px;
        font-size: 18px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease, transform 0.3s ease;
        font-family: 'Arial', sans-serif;
    }

        .btn-primary:hover {
            background-color: #5e0606;
            transform: scale(1.05);
        }

    .btn-primary {
        width: 100%;
    }

    .confirmation-container {
        padding: 30px;
    }
</style>
