@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<h1>Detalhes da Sessão</h1>

<div>
    <strong>Session ID:</strong> @HttpContextAccessor.HttpContext.Session.Id
</div>

@foreach (var item in HttpContextAccessor.HttpContext.Session.Keys)
{
    if (item == "StringValue")
    {
        <div>@item - @HttpContextAccessor.HttpContext.Session.GetString(item)</div>
    }
    else
    {
        <div>@item - @HttpContextAccessor.HttpContext.Session.GetInt32(item)</div>
    }
}
