@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dados Pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>A sua conta contém dados pessoais que nos forneceu. Esta página permite-lhe descarregar ou eliminar esses dados.</p>
        <p>
            <strong>A eliminação destes dados irá remover permanentemente a sua conta, e esta não poderá ser recuperada.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn-submit" type="submit">Descarregar</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-submit">Eliminar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
