
@{
    ViewData["Title"] = "Adicionados_recentemente";
}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Adicione um CSS externo se necessário -->
    <style>
    </style>
</head>
<body>
    <div class="container_ld">
        <h1>Livros Adicionados Recentemente</h1>
        <p>Descubre os Livros Mais Recentes</p>

        <div class="book-grid">
            <div class="book-card">
                <img src="/imagens/livros/heartstopper.jpeg" alt="Capa do livro Heartstopper">
                <h3>Heartstopper</h3>
                <p>Alice Oseman</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/acriada.jpeg" alt="Capa do livro A Criada">
                <h3>A Criada</h3>
                <p>Freida McFadden</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/powerless.jpeg" alt="Capa do livro Powerless">
                <h3>Powerless</h3>
                <p>Lauren Roberts</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/morte_no_sanatorio.jpeg" alt="Capa do livro Morte No Sanatório">
                <h3>Morte No Sanatório</h3>
                <p> Ragnar Jónasson</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/reino_dos_malditos.jpeg" alt="Capa do livro O Reino dos Malditos">
                <h3>O Reino dos Malditos</h3>
                <p>  Kerri Maniscalco</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/corte_asas.jpeg" alt="Capa do Corte de Asas e Ruína">
                <h3>Corte de Asas e Ruína</h3>
                <p> Sarah J. Maas </p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/romance_verao.jpeg" alt="Capa do livro Romance de Verão">
                <h3>Romance de Verão</h3>
                <p>  Emily Henry </p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/everyone_here_is_lying.jpeg" alt="Capa do livro Everyone Here Is Lying">
                <h3>Everyone Here Is Lying</h3>
                <p> Shari Lapena </p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/cafe_pumpkin.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>O Café Pumpkin Spice</h3>
                <p>Laurie Gilmore</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/queria_ja_nao_quer.jpeg" alt="Capa do livro Queria? Já Não Quer?">
                <h3>Queria? Já Não Quer?</h3>
                <p>Marco Neves</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/the_inheritance_games.jpeg" alt="Capa do livro The Inheritance Games">
                <h3>The Inheritance Games</h3>
                <p>Jennifer Lynn Barnes</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/o_colibri.jpeg" alt="Capa do livro O Colibri">
                <h3>O Colibri</h3>
                <p> Sandro Veronesi </p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/funny_story.jpeg" alt="Capa do livro Funny Story">
                <h3>Funny Story</h3>
                <p>Emily Henry</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/pequena_vida.jpeg" alt="Uma Pequena Vida">
                <h3>Uma Pequena Vida</h3>
                <p> Hanya Yanagiharay</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/as_gemeas.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>As Gémeas de Auschwitz</h3>
                <p>Eva Mozes Kor</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/quarta_asa.jpeg" alt="Capa do livro Quarta Asa">
                <h3>Quarta Asa</h3>
                <p>Rebecca Yarros</p>
                <div class="stars">★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/intermezzo.jpeg" alt="Capa do livro Intermezzo">
                <h3>Intermezzo</h3>
                <p>Sally Rooney</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/comunicacao_n_violenta.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>Comunicação Não-Violenta</h3>
                <p>Marshall B. Rosenberg</p>
                <div class="stars">★★★★★</div>
            </div>


        </div>

        <div class="pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#" class="active">4</a>
            <a href="#">5</a>
        </div>
    </div>
    <footer>
        <div class="grid footer">
            <div class="card_logo">
                <img src="/imagens/logo200.png" alt="logo UniLib">
            </div>
            <div class="grid sb">
                <h3>Sobre nós</h3>
                <p>  </p>
                <a href="#privacidade">Política de Privacidade</a>
                <p>  </p>
                <a href="#termos">Termos de Serviço</a>
                <p>  </p>
            </div>
            <div class="grid ajuda">
                <h3>Ajuda</h3>
                <p>  </p>
                <a href="#ajuda">Ajuda</a>
            </div>
        </div>

    </footer>
</body>
</html>

