
@{
    ViewData["Title"] = "Adicionados_recentemente";
}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Adicione um CSS externo se necessário -->
    <style>
    </style>
</head>
<body>
    <div class="container_ld">
        <h1>Livros Adicionados Recentemente</h1>
        <p>Descubre os Livros Mais Recentes</p>

        <div class="book-grid">
            <div class="book-card">
                <img src="/imagens/livros/heartstopper.jpeg" alt="Capa do livro Heartstopper">
                <h3>Heartstopper</h3>
                <p>Alice Oseman</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/Princepezinhojpeg.jpeg" alt="Capa do livro O Principezinho">
                <h3>O Principezinho</h3>
                <p>Antoine de Saint-Exupéry</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/GoT.jpeg" alt="Capa do livro A Guerra dos Tronos">
                <h3>A Guerra dos Tronos</h3>
                <p>George R. R. Martin</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/morte_no_sanatorio.jpeg" alt="Capa do livro Morte No Sanatório">
                <h3>Morte No Sanatório</h3>
                <p> Ragnar Jónasson</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/nao_incomodar.jpeg" alt="Capa do livro Não Incomodar">
                <h3>Não Incomodar</h3>
                <p> Fraida Mcfadden</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/querida_tia.jpeg" alt="Capa do livro Querida Tia">
                <h3>Querida Tia</h3>
                <p> Valérie Perrin</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/nexus.jpeg" alt="Capa do livro Nexus">
                <h3>Nexus</h3>
                <p> Yuval Noah Harari</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/a_cegueira_do_rio.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>A Cegueira do Rio</h3>
                <p>Mia Couto</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/cafe_pumpkin.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>O Café Pumpkin Spice</h3>
                <p>Laurie Gilmore</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/habitos_atomicos.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>Hábitos Atómicos - Pequenas Mudanças, Grandes Resultados</h3>
                <p>James Clear</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/a_cicatriz.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>A Cicatriz</h3>
                <p>Maria Francisca Gama</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/v_em_agosto.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>Vemo-nos em Agosto</h3>
                <p>Gabriel García Márquez</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/a_gorda.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>A Gorda</h3>
                <p>Isabela Figueiredo</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/o_segredo_criada.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>O Segredo da Criada</h3>
                <p>Freida McFadden</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/as_gemeas.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>As Gémeas de Auschwitz</h3>
                <p>Eva Mozes Kor</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/primeira_classe.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>Primeira Classe</h3>
                <p>T L Swan</p>
                <div class="stars">★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/homicidio_perfeito.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>O Homicídio Perfeito - Um Guia Para Boas Raparigas</h3>
                <p>Holly Jackson</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/comunicacao_n_violenta.jpeg" alt="Capa do livro Um Dia Diferente">
                <h3>Comunicação Não-Violenta</h3>
                <p>Marshall B. Rosenberg</p>
                <div class="stars">★★★★★</div>
            </div>


        </div>

        <div class="pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#" class="active">4</a>
            <a href="#">5</a>
        </div>
    </div>
    <footer>
        <div class="grid footer">
            <div class="card_logo">
                <img src="/imagens/logo200.png" alt="logo UniLib">
            </div>
            <div class="grid sb">
                <h3>Sobre nós</h3>
                <p>  </p>
                <a href="#privacidade">Política de Privacidade</a>
                <p>  </p>
                <a href="#termos">Termos de Serviço</a>
                <p>  </p>
            </div>
            <div class="grid ajuda">
                <h3>Ajuda</h3>
                <p>  </p>
                <a href="#ajuda">Ajuda</a>
            </div>
        </div>

    </footer>
</body>
</html>

