
@{
    ViewData["Title"] = "Alice_oseman";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
    </style>
</head>
<body>
    <div class="container_ld">
        <h1>Alice Oseman</h1>
        <p>Descobre os livros da escritora Alice Oseman.</p>

        <div class="book-grid">
            <div class="book-card">
                <img src="/imagens/livros/heartstoppervol1.jpeg" alt="Capa do livro Heartstopper vol1">
                <h3>Heartstopper Volume 1</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/heartstoppervol2.jpeg" alt="Capa do livro Heartstopper vol2">
                <h3>Heartstopper Volume 2</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/heartstoppervol3.jpeg" alt="Capa do livro Heartstopper vol3">
                <h3>Heartstopper Volume 3</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/heartstoppervol4.jpeg" alt="Capa do livro Heartstopper vol4">
                <h3>Heartstopper Volume 4</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/semamor.jpeg" alt="Capa do livro Sem Amor">
                <h3>Sem Amor</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/radiosilencio.jpeg" alt="Capa do livro Rádio Silêncio">
                <h3>Rádio Silêncio</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/solitario.jpeg" alt="Capa do livro O Solitário">
                <h3>Solitário</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/heartstoppervol5.jpeg" alt="Capa do livro Heartstopper vol5">
                <h3>Heartstopper Volume 5</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/este_inverno.jpeg" alt="Capa do livro Este Inverno">
                <h3>Este Inverno</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/nasci_isto.jpeg" alt="Capa do livro Nasci para Isto">
                <h3>Nasci para Isto</h3>
                <div class="stars">★★★★★</div>
            </div>
        </div>

        <footer>
            <div class="grid footer">
                <div class="card_logo">
                    <img src="/imagens/logo200.png" alt="logo UniLib">
                </div>
                <div class="grid sb">
                    <h3>Sobre nós</h3>
                    <p>  </p>
                    <a href="#privacidade">Política de Privacidade</a>
                    <p>  </p>
                    <a href="#termos">Termos de Serviço</a>
                    <p>  </p>
                </div>
                <div class="grid ajuda">
                    <h3>Ajuda</h3>
                    <p>  </p>
                    <a href="#ajuda">Ajuda</a>
                </div>
            </div>

        </footer>
</body>
</html>

