@{
    ViewData["Title"] = "Confirmação";
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Biblioteca Virtual UNILIB</title>
</head>
<body>
    <h1>Mensagem Enviada</h1>
    <p>Obrigado por entrar em contato. Responderemos o mais breve possível.</p>
</body>
</html>

