
@{
    ViewData["Title"] = "Freida_mcfadden";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <style>
    </style>
</head>
<body>
    <div class="container_ld">
        <h1>Freida Mcfadden</h1>
        <p>Descobre os livros da escritora Fraida Mcfadden.</p>

        <div class="book-grid">
            <div class="book-card">
                <img src="/imagens/livros/ala_d.jpeg" alt="Capa do livro Ala D">
                <h3>Ala D</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/nao_incomodar.jpeg" alt="Capa do livro Não Incomodar">
                <h3>Não Incomodar</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/aprofessora.jpeg" alt="Capa do livro A Professora">
                <h3>A Professora</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/acriada_esta_ver.jpeg" alt="Capa do livro A Criada Está a Ver">
                <h3>A Criada Está a Ver</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/nunca_mintas.jpeg" alt="Capa do livro Nunca Mintas">
                <h3>Nunca Mintas</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/oescritorio.jpeg" alt="Capa do livro O Escritório">
                <h3>O Escritório</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/orecluso.jpeg" alt="Capa do livro O Recluso">
                <h3>O Recluso</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/aporta_trancada.jpeg" alt="Capa do livro A Porta Trancada">
                <h3>A Porta Trancada</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/o_segredo_criada.jpeg" alt="Capa do livro O Segredo da Criada">
                <h3>O Segredo da Criada</h3>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/livros/acriada.jpeg" alt="Capa do livro A criada">
                <h3>A Criada</h3>
                <div class="stars">★★★★★</div>
            </div>
        </div>

    <footer>
        <div class="grid footer">
            <div class="card_logo">
                <img src="/imagens/logo200.png" alt="logo UniLib">
            </div>
            <div class="grid sb">
                <h3>Sobre nós</h3>
                <p>  </p>
                <a href="#privacidade">Política de Privacidade</a>
                <p>  </p>
                <a href="#termos">Termos de Serviço</a>
                <p>  </p>
            </div>
            <div class="grid ajuda">
                <h3>Ajuda</h3>
                <p>  </p>
                <a href="#ajuda">Ajuda</a>
            </div>
        </div>

    </footer>
</body>
</html>

