@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<hr />
<div id="mytabs">
    <ul>
        <li><a href="#dados-pessoais">Dados Pessoais</a></li>
        <li><a href="#uso-dados">Uso de Dados</a></li>
        <li><a href="#seguranca">Segurança</a></li>
    </ul>
    <div id="dados-pessoais">
        <p>Explicação sobre quais dados são coletados pela biblioteca.</p>
    </div>
    <div id="uso-dados">
        <p>Descrição de como os dados serão utilizados.</p>
    </div>
    <div id="seguranca">
        <p>Medidas de segurança implementadas para proteger os dados.</p>
    </div>
</div>

    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">JQuery/Javascript</a>
            </li>
            <li class="nav-item"
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Jquery-UI</a>
        </li>
        </ul>
    </div>

</div>

@section Scripts{
    <script>
        $(function () {
            $("#mytabs").tabs();
        });
    </script>
}


<!DOCTYPE html>
<html>
<head>
    <title>Política de Privacidade</title>
    <!-- Certifique-se de que o jQuery UI está incluído -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
</head>

<p>Use this page to detail your site's privacy policy.</p>
