
@{
    ViewData["Title"] = "Sobre_Nos";
}
<h1>Sobre Nós</h1>


<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Informações Gerais</h2>
            <p class="card-text text-justify">
                Localização: Rua da Universidade 33, Vila Real, VR
                </p>
            <p class="card-text text-justify">
                Contacto: 972742234
                </p>
            <p class="card-text text-justify">
                Email: Unilib@gmail.com
            </p>
            <h2 class="card-title text-center mb-4">A Nossa Visão</h2>
            <p class="card-text text-justify">
                A nossa biblioteca tornar-se uma plataforma digital de excelência global, reconhecida por oferecer um ecossistema
                integrado de acesso ao conhecimento que transcende fronteiras geográficas e limitações socioeconômicas,
                promovendo a equidade, a inovação e a transformação contínua na experiência de aprendizagem.
            </p>
            <p class="card-text text-justify">
                A UNILIB procura ser um estímulo na construção de uma sociedade baseada no conhecimento, conectando utilizadores a recursos digitais
                diversificados, atualizados e de alta relevância, e capacitando-os para serem agentes de mudança nas suas áreas de
                atuação.
            </p>
            <p class="card-text text-justify">
                Por meio da aplicação de tecnologias de ponta, parcerias institucionais e metodologias pedagógicas
                avançadas, ambicionamos contribuir para o desenvolvimento global sustentável e para a criação de uma comunidade
                de aprendizagem inclusiva, crítica e colaborativa.
            </p>
        </div>
    </div>
</div>
