@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu-se da sua password?";
}

<div class="register-container">
    <div class="register-left">
        <div class="back-button">
            <a asp-area="Home" asp-page="Index"><img src="~/imagens/seta.png" alt="Seta" /></a>
        </div>
        <h2>RECUPERAR PASSWORD</h2>
        <div class="image-container">
            <img src="~/imagens/Register.jpg" alt="Imagem representativa de login">
        </div>
    </div>
    <div class="register-right">
        <h3>Insira o seu email</h3>
        <form id="loginForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="form-group">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" placeholder="Insere o teu email" autocomplete="username" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-submit">Recuperar Password</button>
        </form>
      
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}