@page
@model LoginModel
@{
    ViewData["Title"] = "Iniciar Sessão";
}

<div class="register-container">
    <div class="register-left">
        <div class="back-button">
            <a asp-area="Home" asp-page="Index"><img src="~/imagens/seta.png" alt="Seta" /></a>
        </div>
        <h2>INICIAR SESSÃO</h2>
        <div class="image-container">
            <img src="~/imagens/Register.jpg" alt="Imagem representativa de login">
        </div>
    </div>
    <div class="register-right">
        <h3>Insira os seus dados para aceder à plataforma</h3>
        <form id="loginForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-group">
                <label asp-for="Input.UserName">Username</label>
                <input asp-for="Input.UserName" class="form-control" placeholder="Coloca o teu username" autocomplete="username" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" placeholder="Insere o teu email" autocomplete="email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Password</label>
                <div class="password-wrapper">
                    <input asp-for="Input.Password" type="password" class="form-control" placeholder="Insere a tua password" autocomplete="current-password" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    Lembrar-me
                </label>
            </div>
            <button id="loginSubmit" type="submit" class="btn-submit">ENTRAR</button>
        </form>
        <p>Ainda não tem conta? <a asp-area="Identity" asp-page="/Account/Register">Registe-se aqui</a></p>
        <p><a id="forgot-password" asp-page="./ForgotPassword">Esqueceu-se da sua password?</a></p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
