@page
@model RegisterModel
@{
    ViewData["Title"] = "Registo";
}

<div class="register-container">
    <div class="register-left">
        <a href="#" class="back-button">&#8592;</a>
        <h2>REGISTO</h2>
        <div class="image-container">
            <img src="~/imagens/Register.jpg" alt="Pilha de Livros com óculos em cima">
        </div>
    </div>
    <div class="register-right">
        <h3>Preenche todas as informações para criar uma conta na plataforma</h3>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="form-group">
                <label asp-for="Input.UserName">Username</label>
                <input asp-for="Input.UserName" class="form-control" placeholder="Coloca o teu username" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" placeholder="Insere o teu email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Password</label>
                <div class="password-wrapper">
                    <input asp-for="Input.Password" type="password" class="form-control" placeholder="Insere a password" />
                    <span class="password-eye">&#128065;</span>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Repete a password</label>
                <div class="password-wrapper">
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Repete a password" />
                    <span class="password-eye">&#128065;</span>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn-submit">REGISTA-TE</button>
        </form>
        <p>Já tem uma conta? <a href="#">Iniciar sessão</a></p>
    </div>
</div>
