@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Registo";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
     Esta aplicação atualmente não tem um remetente de email real registrado, veja <a href="https://aka.ms/aspaccountconf">estes documentos</a> para saber como configurar um remetente de email real.
     Normalmente, isto seria enviado por email: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar a sua conta</a>
</p>

    }
    else
    {
<p>
            Por favor verifique o seu email para confirmar a sua conta.
</p>
    }
}

