html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
    padding: 0 0 50px;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
}
.card_logo {
    padding: 20px;
    text-align: left;
    
}

/* Ajustes para a barra de navegação */
.navbar {
    background-color: #5e0606;
    display: grid;
    margin-top: 0 px; 
}

    .navbar .nav-link {
        color: white; /* Links em branco */
    }

    .navbar .navbar-brand {
        color: white; /* Texto da marca em branco */
    }

    .navbar .navbar-toggler-icon {
        background-color: #5e0606; /* Ícone da barra em branco */
    }
    .navbar .nav-link {
        font-size: 16px; /* Tamanho do texto */
        font-weight: bold; /* Negrito */
        text-transform: uppercase; /* Transformação em letras maiúsculas */
    }

    .navbar .navbar-brand {
        font-size: 20px;
        font-weight: 100px;
    }


/*GRID CATEGORIAS*/
.grid_categoria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas de tamanhos iguais */
    gap: 20px; /* Espaçamento entre os itens */
    margin-bottom: 100px; /* Espaçamento no topo */
}
.card_cat {
    display: inline-block; /* Mantém no mesmo nível do texto */
    margin-right: 10px;  /*Espaço entre o ícone e o texto */
    text-align: left;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    display: flex; /* Permite alinhar o ícone e o texto */
    align-items: center; /* Alinha verticalmente o ícone com o texto */
}
    

.card_c {
    background-color: #f8f9fa; /* Cor de fundo */
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd; /* Borda leve */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animação */
}

    .card_c:hover {
        transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
    }

    .card_c img {
        width: 100%; /* Imagem ocupa toda a largura do contêiner */
        height: 150px; /* Altura fixa */
        object-fit: cover; /* Ajuste da imagem */
        border-radius: 5px; /* Bordas arredondadas */
        margin-bottom: 10px;
    }

h2 {
    display: flex; /* Permite que o ícone e o texto fiquem alinhados horizontalmente */
    align-items: center; /* Alinha verticalmente o ícone com o texto */
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 100px;
}
    h2 i {
        color: #333; /* Cor do ícone */
        font-size: 24px; /* Mesmo tamanho do texto */
        margin-right: 15px; /* Espaçamento entre o ícone e o texto */
    }

/*GRID AUTORES*/
.grid_autores {
    display: flex; /* Exibe os elementos lado a lado */
    gap: 20px; /* Espaçamento entre os itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
    margin-bottom: 100px;
}

.card_a {
    background-color: #f8f9fa; /* Cor de fundo */
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd; /* Borda leve */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animação */
    max-width: 300px;
    max-height: 400px;
}

    .card_a:hover {
        transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
    }

    .card_a img {
        width: 100%; /* Imagem ocupa toda a largura do contêiner */
        height: 150px; /* Altura fixa */
        object-fit: cover; /* Ajuste da imagem */
        border-radius: 5px; /* Bordas arredondadas */
        margin-bottom: 10px;
    }

h2 {
    display: flex; /* Permite que o ícone e o texto fiquem alinhados horizontalmente */
    align-items: center; /* Alinha verticalmente o ícone com o texto */
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

    h2 i {
        color: #333; /* Cor do ícone */
        font-size: 24px; /* Mesmo tamanho do texto */
        margin-right: 50px; /* Espaçamento entre o ícone e o texto */
    }

/*GRID LIVROS EM DESTAQUE*/
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 100px;
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.card_ld {
    min-width: 300px;
    background-color: #f8f9fa;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

    .card_ld img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
    }

.carousel-btn {
    background-color: #b22222;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

    .carousel-btn.prev {
        left: 10px;
    }

    .carousel-btn.next {
        right: 10px;
    }

h2 {
    display: flex; /* Permite que o ícone e o texto fiquem alinhados horizontalmente */
    align-items: center; /* Alinha verticalmente o ícone com o texto */
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

    h2 i {
        color: #333; /* Cor do ícone */
        font-size: 24px; /* Mesmo tamanho do texto */
        margin-right: 15px; /* Espaçamento entre o ícone e o texto */
    }


/*GRID Adicionados Recentemente*/
.carousel2 {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 100px;
}

.carousel2-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.card_ad {
    min-width: 300px;
    background-color: #f8f9fa;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

    .card_ad img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
    }

.carousel2-btn {
    background-color: #b22222;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

    .carousel2-btn.prev {
        left: 10px;
    }

    .carousel2-btn.next {
        right: 10px;
    }

h2 {
    display: flex; /* Permite que o ícone e o texto fiquem alinhados horizontalmente */
    align-items: center; /* Alinha verticalmente o ícone com o texto */
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

    h2 i {
        color: #333; /* Cor do ícone */
        font-size: 24px; /* Mesmo tamanho do texto */
        margin-right: 15px; /* Espaçamento entre o ícone e o texto */
    }


/*Registe*/
.register-container {
    display: flex;
    height: 100vh;
    background-color: #f4ebeb;
    font-family: Arial, sans-serif;
}

.register-left {
    flex: 1;
    background-color: #722222;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.register-left h2 {
    margin-top:0px;
    margin-bottom: 20px;
    align-content:center;
    text-decoration-style:solid;
}


.image-container img {
    width: 390px; 
    height: 90%; 
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    display:block;
    object-fit: cover;
}


.register-right {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .register-right h3 {
        margin-bottom: 20px;
        font-size: 18px;
        color: #722222;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: #722222;
    }

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #722222;
    border-radius: 5px;
    font-size: 16px;
}

.password-wrapper {
    position: relative;
}

.password-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #722222;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

    .btn-submit:hover {
        background-color: #5c1a1a;
    }

.register-right p {
    margin-top: 15px;
    text-align: center;
}

.register-right a {
    color: #722222;
    text-decoration: none;
    font-weight: bold;
}

    .register-right a:hover {
        text-decoration: underline;
    }
