@{
    ViewData["Title"] = "cat_fantasia";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            background: url("/imagens/hogwarts-in-moonlight.jpg") no-repeat center center fixed;
            background-size: cover;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="cat-fantasia">
        <h1>Fantasia</h1>
        <p>Descobre os melhores livros de Fantasia</p>

        <div class="book-grid">
            <div class="book-card">
                <img src="/imagens/ficcao/a-cirurgia.jpeg" alt="A cirurgiã">
                <h3>A Cirugiã</h3>
                <p>Leslie Wolfe</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/a-criada.jpeg" alt="Capa do livro A Criada">
                <h3>A Criada</h3>
                <p>Freida McFadden</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/ala-d.jpeg" alt="Capa do Ala D">
                <h3>Ala D</h3>
                <p>Freida McFadden</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/crime-na-quinta-das-lagrimas.jpeg" alt="Capa do livro Crime na Quinta das Lágrimas">
                <h3>Crime na Quinta das Lágrimas</h3>
                <p>Lourenço Seruya</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/desejo-secreto-4.jpeg" alt="Capa do livro Desejo Secreto">
                <h3>Desejo Secreto</h3>
                <p>Catharina Maura</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/ines-de-castro-3.jpeg" alt="Capa do livro Inês de Castro">
                <h3>Inês de Castro</h3>
                <p>Isabel Stilwell</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/o-escritorio-4.jpeg" alt="Capa do livro O Escritório">
                <h3>O Escritório</h3>
                <p>Freida Mcfadden</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/o-magico-de-auschwitz-1.jpeg" alt="Capa do livro O Mágico de Auschwitz">
                <h3>O Mágico de Auschwitz</h3>
                <p>José Rodrigues dos Santos</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/o-peso-da-culpa-sebastian-bergman-8.jpeg" alt="Capa do livro O peso da culpa">
                <h3>O peso da culpa</h3>
                <p>Sebastian Bergman</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/o-recluso.jpeg" alt="Capa do livro O Recluso?">
                <h3>O Recluso</h3>
                <p>Freida Mcfadden</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/o-segredo-da-criada.jpeg" alt="Capa do livro O segredo da Criada">
                <h3>O segredo da Criada</h3>
                <p>Freida Mcfadden</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/o-segredo-de-espinosa.jpeg" alt="Capa do livro O segredo de Espinosa">
                <h3>O segredo de Espinosa</h3>
                <p>José Rodrigues dos Santos</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/perfeito-inimigo.jpeg" alt="Capa do livro Perfeito inimigo">
                <h3>Perfeito Inimigo</h3>
                <p>T L Swan</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/prazer-proibido-2.jpeg" alt="Capa do livro Prazer Proibido">
                <h3>Prazer Proibido</h3>
                <p>Catharina Maura</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/primeira-classe.jpeg" alt="Capa do livro Primeira Classe">
                <h3>Primeira Classe</h3>
                <p>T L Swan</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/um-duque-para-amar.jpeg" alt="Capa do livro Um Duque para amar">
                <h3>Um Duque para amar</h3>
                <p>Sarah Macleam</p>
                <div class="stars">★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/uma-fortuna-perigosa.jpeg" alt="Capa do livro Uma fortuna perigosa">
                <h3>Uma fortuna perigosa</h3>
                <p>Ken Follett</p>
                <div class="stars">★★★★★</div>
            </div>
            <div class="book-card">
                <img src="/imagens/ficcao/vaticanum-4.jpeg" alt="Capa do livro Vaticanum">
                <h3>Vaticanum</h3>
                <p>José Rodrigues dos Santos</p>
                <div class="stars">★★★★★</div>
            </div>


        </div>

        <div class="pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#" class="active">4</a>
            <a href="#">5</a>
        </div>
    </div>
    <footer>
        <div class="grid footer">
            <div class="card_logo">
                <img src="/imagens/logo200.png" alt="logo UniLib">
            </div>
            <div class="grid sb">
                <h3>Sobre nós</h3>
                <p>  </p>
                <a href="#privacidade">Política de Privacidade</a>
                <p>  </p>
                <a href="#termos">Termos de Serviço</a>
                <p>  </p>
            </div>
            <div class="grid ajuda">
                <h3>Ajuda</h3>
                <p>  </p>
                <a href="#ajuda">Ajuda</a>
            </div>
        </div>

    </footer>
</body>
</html>
