@model IEnumerable<Biblioteca_UniLib.Models.Course>
@{
    ViewData["Title"] = "cat_financas";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Adicione um CSS externo se necessário -->
    <style>
    </style>
</head>
<body>
    <div class="container_ld">
        <h1>Finanças</h1>
        <p>Descobre os melhores livros sobre finanças</p>

        <div class="book-grid">
            @if (Model != null && Model.Any())
            {
                <div class="card_grid">
                    @foreach (var course in Model.Where(c => c.CategoryID == 4))
                    {
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.ID" class="card_ld-link">
                            <div class="card_ld">
                                <div class="card_l_content">
                                    @if (!string.IsNullOrEmpty(course.CoverPhoto))
                                    {
                                        <img src="~/Cover/@course.CoverPhoto" alt="Capa do Livro" />
                                    }
                                    else
                                    {
                                        <span>Sem imagem disponível</span>
                                    }
                                    <h3 class="book-title">@course.Name</h3>
                                    <p class="book-author">@course.Author</p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
            else
            {
                <p>Nenhum livro em Destaque.</p>
            }
        </div>

        <div class="pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#" class="active">4</a>
            <a href="#">5</a>
        </div>
    </div>
    <footer>
        <div class="grid footer">
            <div class="card_logo">
                <img src="/imagens/logo200.png" alt="logo UniLib">
            </div>
            <div class="grid sb">
                <h3>Sobre nós</h3>
                <p>  </p>
                <a href="#privacidade">Política de Privacidade</a>
                <p>  </p>
                <a href="#termos">Termos de Serviço</a>
                <p>  </p>
            </div>
            <div class="grid ajuda">
                <h3>Ajuda</h3>
                <p>  </p>
                <a href="#ajuda">Ajuda</a>
            </div>
        </div>

    </footer>
</body>
</html>